body{
	background-image: url('images/img1.jpg');
	background-size: cover;
}
a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: #ffffff;
    text-decoration: underline;
    background-color: transparent;
}
p{
	color: white;
}
.bg-dark {
    background-color: #343a4070!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}
.nav-item{
	padding: 0 40px;
}

.site-links{
	margin: 5px auto;
	display: inline-block;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2.5rem;
    padding: 0 10px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.brand{
	color: white;
	font-family: Tahoma;
}
.footer{
	background-color:#343a4070;
	text-align: center;
	position:relative;
	bottom: 0;
	width: 100%;
}

.footer-data{
	margin: auto 0;
	padding: 20px 0;
}
.footer-data>ul{
	text-align: left;
}
.footer-data>h5{
	color:white;
}
.footer-data>p {
    margin: auto 0;
    color: #e6faffba;
}
.footer-data-sub>h5{
	color:white;
	text-align: right;
}
.footer-data-sub>ul{
	text-align: left;
}
.jumbotron {
    padding: 10px 30px;
    margin-bottom: 2rem;
    background-color: #292d31ad;
    border-radius: .3rem;
}
.jumbotron-index{
    padding: 50px 50px;
    margin-bottom: 2rem;
    background-color: #292d31ad;
    border-radius:0 10.8em 10.8em 0;
}
.jumbotron-index2{
    padding: 50px 50px;
    margin-bottom: 2rem;
    background-color: #292d31ad;
    border-radius:10.8em 0 0 10.8em;
}
.card-data{
	color: black;
}
.card{
	width: 100%;
	height: 484.18px;
	opacity: 0.85;
}
.card:hover{
	opacity: 1.0;
}
.prod-image{
	width: 100%;
	height: 350px;
}

.side-image{
	width: 100%;
	height: auto;
}
.about-data{
	background-color: #292d3173;
	padding: 20px;
}
.side-text{
	margin:auto 0;
}

.contact-data{
	padding: 30px;
	width: 100%;
}

.form-content{
	margin: auto 0;
}
.jumbotron-form{
    padding: 20px;
    margin-bottom: 2rem;
    background-color: #292d31ad;
    border-radius: .3rem;
    width: 100%;
}

.form-inputs{
	width: 100%;
	border-radius: 5px;
	border-width: 0; 
	height:2.5em;

}

iframe{
	opacity: 0.85;
}

@media(max-width: 767px){
	.footer-data-sub>h5{
	color:white;
	text-align: center;
}
.card{
	width: 100%;
	height: auto;
	opacity: 0.85;
}

}
